<mat-expansion-panel class="time-selection">
    <mat-expansion-panel-header>
        <mat-panel-title class="ln-height" translate>
            TIME RANGE SELECT
        </mat-panel-title>
        <button mat-icon-button (click)="remove()">
            <mat-icon>clear</mat-icon>
        </button>
        <mat-panel-description>

        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="pd-bot-24">
        <!-- <mat-slider class="full-width" min="0" max="24" step="1" value="0" thumbLabel tickInterval="6"></mat-slider> -->
        <p>{{ someRange[0] }} - {{ someRange[1] }}</p>
        <nouislider [connect]="true" [min]="0" [max]="15" [(ngModel)]="someRange" [config]="someRange2config"></nouislider>
    </div>
</mat-expansion-panel>