<mat-expansion-panel class="time-selection" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title class="ln-height" translate>
      DAY OF WEEK     
    </mat-panel-title> 
    <button mat-icon-button (click)="remove()">
        <mat-icon>clear</mat-icon>
    </button>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
    <mat-checkbox name="days" value="Monday">
      <span translate>Monday</span>
    </mat-checkbox>
    <mat-checkbox name="days" value="Tuesday">
      <span translate>Tuesday</span>
    </mat-checkbox>
    <mat-checkbox name="days" value="Wednesday">
      <span translate>Wednesday</span>
    </mat-checkbox>
    <mat-checkbox name="days" value="Thursday">
      <span translate>Thursday</span>
    </mat-checkbox>
    <mat-checkbox name="days" value="Friday">
      <span translate>Friday</span>
    </mat-checkbox>
    <mat-checkbox name="days" value="Sunday">
      <span translate>Sunday</span>
    </mat-checkbox>
    <mat-checkbox name="days" value="Saturday">
      <span translate>Saturday</span>
    </mat-checkbox>
  </div>

</mat-expansion-panel>