<mat-card class="page-title">
    <h2>Welcome!</h2>

</mat-card>
<div class="charts">
    <div class="chart-sm">
        <div class="chart1 border-rad">
            <div class="icon-box">
                <mat-icon class="icon-fit">remove_red_eye</mat-icon>
            </div>
            <div>
                <h2>3,570</h2>
                <h4>Add iterations</h4>
            </div>

        </div>
        <div class="chart2 border-rad">
            <div class="icon-box icon-box-blue">
                <mat-icon class="icon-fit">attach_money</mat-icon>
            </div>
            <div>
                <h2>1,570 EUR</h2>
                <h4>Budget</h4>
            </div>
        </div>
        <div class="chart3 border-rad">
            <div class="icon-box icon-box-red">
                <mat-icon class="icon-fit">movie</mat-icon>
            </div>
            <div>
                <h2>5</h2>
                <h4>Campaigns</h4>
            </div>
        </div>
    </div>
    <div class="chart-lg border-rad">
        <h4>DAILY ITERATIONS</h4>
    </div>
</div>