<mat-expansion-panel class="time-selection">
  <mat-expansion-panel-header>
      <mat-panel-title class="ln-height" translate>
           INVENTORY GROUP
      </mat-panel-title>
      <button mat-icon-button (click)="remove()">
        <mat-icon>clear</mat-icon>
    </button>
      <mat-panel-description>

      </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
      <mat-checkbox name="group" value="Taxi"><span translate>Taxi</span></mat-checkbox>
      <mat-checkbox name="group" value="Shopping malls"><span translate>Shopping malls</span></mat-checkbox>
      <mat-checkbox name="group" value="Post offices"><span translate>Post offices</span></mat-checkbox>
  </div>
</mat-expansion-panel>