<div class="portlet" id="TARGET-95">
  <div class="portlet-heading bg-primary">
    <h3 class="portlet-title">Inventory group</h3>
    <div class="portlet-widgets">
      <span class="divider"></span>
      <a data-toggle="collapse" data-parent="#accordion4" href="#bg-primary4">
        <i class="ion-minus-round"></i>
      </a>
      <span class="divider"></span>
      <a href="#" data-toggle="remove">
        <i class="ion-close-round"></i>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="bg-primary4" class="panel-collapse collapse show">
    <div class="portlet-body">
      <div class="checkbox form-check-inline">
        <input type="checkbox" name="group" id="inlineCheckbox8" value="Taxi">
        <label for="inlineCheckbox8"> Taxi </label>
      </div>
      <div class="checkbox form-check-inline">
        <input type="checkbox" name="group" id="inlineCheckbox9" value="Shopping malls">
        <label for="inlineCheckbox9"> Shopping malls </label>
      </div>
      <div class="checkbox form-check-inline">
        <input type="checkbox" name="group" id="inlineCheckbox10" value="Post offices">
        <label for="inlineCheckbox10"> Post offices </label>
      </div>
    </div>
  </div>
</div>