mat-sidenav {
    width: 240px;
    overflow-y: scroll;
}
mat-sidenav-container {
    min-height: 100vh;
}

.brand-name {
    margin: 0 auto;
}
.app-name {
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.mat-toolbar.mat-primary {
    background-color: #343c49;
}
@media screen and (max-width:600px) {
    .mat-toolbar.mat-primary{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    }
    .mat-card.page-title {
        margin-top: 56px;
    }
}
.small-icon-holder {
    background-color: #82c5ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-icon.small-icon {
    border-radius: 50%;
    padding: 4px;
    color: #fff;
}
.bg-blue {
    background-color: rgba(3, 156, 253, 0.75);
}
.bg-green{
    background-color: rgba(82, 187, 86, 0.75);
}
.bg-red{
    background-color: rgba(239, 83, 80, 0.75);
}
.notifi-text{
    font-size: 14px;
    text-decoration: none;
    color: #797979; 
}
.notification-list {
    flex: 1 1 auto;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.lang-select {
    width: 120px;
    .mat-select-value  {
        color: rgba(225, 225, 225, 1);
    }
    .mat-select-arrow {
        color: rgba(225, 225, 225, 1);
    }
    // text-align: right;
    // float: right;
}
.rounded-circle {
    width: 30px; 
    border-radius: 30px;
}
