<!-- <div id="wrapper" class="forced">
  <app-top-navbar *ngIf="auth.isAuthenticated()"></app-top-navbar>
  <app-sidebar *ngIf="auth.isAuthenticated()"></app-sidebar>
</div>

<router-outlet></router-outlet> -->
<!-- <mat-toolbar class="brand-name" color="primary">
    <h1 class="app-name">COMOBA</h1>
</mat-toolbar> -->
<div>
    <mat-toolbar color="primary" class="toolbar">
        <div class="app-name">
            <h1 fxHide fxShow.gt-sm>COMOBA</h1>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <!--notifications   -->
        <ul class="notification-list">
            <li>
                <mat-select class="lang-select" (change)="langChange($event.value)" [(value)]="selected">
                    <mat-option value="en">EN</mat-option>
                    <mat-option value="lt">LT</mat-option>
                </mat-select>
            </li>
            <li>
                <button mat-icon-button>
                    <mat-icon>fullscreen</mat-icon>
                </button>
            </li>
            <li>
                <mat-menu #appMenuOne="matMenu">
                    <p class="notify-item" translate>Welcome</p>
                    <button mat-menu-item>
                        <mat-icon class="small-icon bg-blue">play_arrow</mat-icon>
                        <a href="" class="notifi-text" translate>
                            Robert S. Taylor commented on Admin
                            <br>
                            <small translate>1 min ago</small>
                        </a>
                    </button>
                    <button mat-menu-item>
                        <mat-icon class="small-icon bg-green">flag</mat-icon>
                        <a href="#" class="notifi-text" translate>
                            New user registered.
                            <br>
                            <small class="text-muted" translate>1 min ago</small>
                        </a>
                    </button>
                    <button mat-menu-item>
                        <mat-icon class="small-icon bg-red">alarm</mat-icon>
                        <a href="#" class="notifi-text" translate>
                            Carlos Crouch liked
                            <b translate>Admin</b>
                            <small class="text-muted" translate>1 min ago</small>
                        </a>
                    </button>
                    <button mat-menu-item>
                        <a href="#" class="notifi-text" translate>
                            View all
                        </a>
                    </button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="appMenuOne">
                    <mat-icon>notifications</mat-icon>
                </button>


            </li>
            <li>
                <mat-menu #appMenu="matMenu" yPosition="below">

                    <h5 class="text-overflow notify-item">
                        <small>
                            <span translate>Welcome</span> ! {{ name }}</small>
                    </h5>

                    <button mat-menu-item>
                        <mat-icon>perm_identity
                        </mat-icon>
                        <a href="#" class="notifi-text" translate>
                            Profile
                        </a>
                    </button>
                    <button mat-menu-item>

                        <mat-icon>cancel</mat-icon>
                        <a href="#" class="notifi-text" translate>
                            Logout
                        </a>
                    </button>
                    <button mat-menu-item>
                        <a href="#" class="notifi-text" translate>
                            View all
                        </a>
                    </button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <img src="{{ profile?.picture }}" alt="user" class="rounded-circle">
                </button>
            </li>
        </ul>
    </mat-toolbar>
    <mat-sidenav-container class="container-fluid">
        <mat-sidenav #sidenav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <nav>
                <app-sidebar></app-sidebar>
            </nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <!-- router ------------------------------------ -->
            <div>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>