.sidebar {
        list-style: none;
        margin: 0;
        padding: 0;
    li {
        padding: 15px 0 15px 24px;
    }
    .li-colapse {
    padding: 5px 0;
}
    mat-icon {
        vertical-align: bottom;
        margin: 0 20px 0 0;
    }
    p {
        font-size: 13px;
    }
}
.sidebar a {
    text-decoration: none;
    color: #797979;
}
.no-shadow {
    box-shadow: none;
}
.mat-expansion-panel-header {
    padding-top: 6px;
}
.mat-expansion-panel {
    ul {
        list-style: none;
    }
}
.mat-expansion-panel-header-description {
    align-items: flex-end;
}