
 
    <div class="portlet" id="34930097-65db-4bab-9465-a0f4361950db">
      <div class="portlet-heading bg-primary">
        <h3 class="portlet-title">Map pointer selection</h3>
        <div class="portlet-widgets">
          <span class="divider"></span>
          <a data-toggle="collapse" data-parent="#accordion3" href="#bg-primary3">
            <i class="ion-minus-round"></i>
          </a>
          <span class="divider"></span>
          <a href="#" data-toggle="remove">
            <i class="ion-close-round"></i>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div id="bg-primary3" class="panel-collapse collapse show">
        <div class="portlet-body">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d147553.95406611357!2d25.112849473261914!3d54.70028863963787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd93fb5c6408f5%3A0x400d18c70e9dc40!2sVilnius!5e0!3m2!1slt!2slt!4v1511969916645"
            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
      </div>
    </div>


