<mat-card class="page-title">
  <h4>Edit user profile</h4>
  <div>
    <p>
      <a href="/">COMOBA</a> / User Profile</p>
  </div>
</mat-card>

<div class="charts">
  <div class="chart-sm">
    <div class="chart1 border-rad">
      <div class="icon-box icon-box-blue ">
        <mat-icon class="icon-fit">attach_money</mat-icon>
      </div>
      <div>
        <h2>{{ wallet.amount }} EUR</h2>
        <h4>Current balance</h4>
      </div>

    </div>
  </div>
  <div class="chart-lg border-rad">
    <h4>Top up account</h4>
    <form [formGroup]="form" (ngSubmit)="onSave(f)" #f="ngForm">
      <mat-form-field [formGroup]="form">
       <input matInput placeholder="Amount to topup" type="text" name="topUp" id="WalletTopUp" formControlName="amount" class="form-control" [(ngModel)]="wallet.amount">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Top up</button>
    </form>      
  </div>
</div>
<div class="charts">
  <div class="chart-lg chart-wallet border-rad">
  <h4>Transaction history</h4>
  <!-- <mat-table #table [dataSource]="dataSource">
  
  
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>
  
 
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Campaign name </mat-header-cell>
      <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
      <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="sum">
      <mat-header-cell *matHeaderCellDef> Due date </mat-header-cell>
      <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>
 
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->
</div>
</div>

